.banner img{
    display: block;
    margin: 20px auto;
}
#about .table1{
    display: block;
    width: 900px;
    border-radius: 20px;
    margin: 0 auto;
}

.title1{
    height: 100px;
    width: 900px;
}

.title1 h2{
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline 1px;
    text-transform: uppercase;
}

td h3{
    font-size: 32px;
    height: 50px;
    text-align: left;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;


}

td hr{
    color: black;
    
}

.desc2{
    display: block;
    width: 500px;
    font-size: 24px;
    text-align: left;
    margin: 20px 50px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
#link .title2 h2{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline 1px;
}

#link .social h3{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.title2{
    display: block;
    width: 190px;
    margin: 10px auto;
}

.social{
    display: block;
    width: 375px;
    margin: 10px auto;
}

.socialimg{
    display: block;
    width: 300px;
    height: 50px;
    margin: 30px auto;
}

.socialimg img{
    margin: 0 10px;
}



#contact .table3{
    display: block;
    width: 430px;
    margin: 0px auto;
}

.table3 h2{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline 1px;

}

.inquiries{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form{
    display: block;
    width: 400px;
    margin: 20px auto;
}   

label{
    margin: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    margin: 10px auto;
}

textarea{
    margin: 10px 10px;
}

input[value=Send] {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=submit]{
    margin: 10px 10px;

}

footer{
    background: black;
    height: 22  px;
}

#end{
    display: block;
    width: 340px;
    margin: 10px auto;
}

#end p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}